{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% include_block page.body %}
{% load user_agents %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}">
{% endblock %} 

{% block body_class %}blogpage{% endblock %}
{% block content %}
<div class="container container-fluid content-body">
    {% if request|is_pc %}
    <div class="row">
        <div class="container container-fluid jumbo-container">
            <div class="jumbotron"></div>
            {% include 'newsorg/navbar_top.html' %}
        </div>
    </div>
    {% endif %}    
    {% if request|is_mobile %}
    <div class="row">
        <div class="navbar-row">     
          <!-- main Feature and follow up -->
            {% include 'newsorg/mnavbar_top.html' %}    
        </div>
    </div>
    {% endif %}
    {# Top row, main area and Side column #}
    <div class="row blogpage-body blogpage-row">        
        {% with page.main_image as main_image %}
        {% if main_image %}         
        {% image main_image height-300 as tmp_photo %}        
            <div class="col-sm-3 col-md-3 piratphilo-image-wrapper">
                <img src="{{ tmp_photo.url }}" class="blogpage-photo" alt=""/>        
            </div>
        {% endif %}
        {% endwith %}      
    
        <div class="col-sm col-md">
            <article>                   
                {% for block in page.body %}                    
                    {% if block.block_type == 'heading' %}
                        <h1>{{ block.value }}</h1>
                    {% elif block.block_type == 'image' %}
                        <section class="block-{{ block.block_type }}">                            
                            <div class="row">
                                <div class="col-sm col-md-4">
                                    {% image block.value height-300 as blog_photo %}                                    
                                    <img src="{{ blog_photo.url }}" class="homepage-photo"/>                                    
                                </div>                                
                                <div class="col-sm col-md-8">
                                    {{ page.intro |richtext }}
                                </div>
                            </div>
                            <div class="row">                                
                                <div class="blogpage-author">                                    
                                    {{ page.authors |richtext }}
                                </div>                         
                            </div>
                        </section>
                        <small>
                                {{ page.date }}                                        
                        </small>
                    {% elif block.block_type == 'paragraph' %}
                        <section class="block-{{ block.block_type }}">
                            {{ block.value |richtext }}
                        </section>
                    {% elif block.block_type == 'articleIP' %}
                        <section class="block-{{ block.block_type }}">
                            <a href="{{ block.value }}" class="block-{{ block.block_type }}">Vill du veta mer?</a>
                        </section>
                        {% else %}
                        <section class="block-{{ block.block_type }}">
                            {% include_block block %}
                        </section>
                        
                    {% endif %}
                    
                {% endfor %}
                
            </article>
        </div>
    </div>        
</div>
{% endblock %}