{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% load user_agents %}


{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/mhome.css' %}">
{% endblock %} 

{% block body_class %}blogcategoryindexpage{% endblock %}

{% block content %}
    <!-- Top and Navbar -->
    {% if request|is_pc %}
    <div class="container container-fluid jumbo-container">
        <div class="jumbotron"></div>
        {% include 'newsorg/navbar_top.html' %}
    </div>    
    {% endif %}

    {% if request|is_mobile %}
    <div class="row navbar-row">     
            <!-- main Feature and follow up -->
            {% include 'newsorg/mnavbar_top.html' %}    
    </div>
    {% endif %}

    <div class="row tagindexpage-row">                       
        <div class="col-md ">            
            <div class="cat-indexpage-title" style="text-align:center">{{ request.GET.category }}</div>
            <div class="cat-indexpage-intro" style="text-align:center">{{ page.intro }} {{ request.GET.category }}</div>
        </div>
    </div>

    {% for blogpage in blogpages %}
    {% with post=blogpage.specific %}   
    <div class="row category-row">                       
        {% with blogpage.main_image as main_image %}
        {% if main_image %}         
            {% image main_image height-180 as tmp_photo %}
            <div class="col-md-4 published-image-wrapper">        
                <img src="{{ tmp_photo.url }}" class="homepage-photo" alt=""/>
            </div>
        {% endif %}
        {% endwith %}        
        <div class="col-md">
            <a class="inline-block" href="{% pageurl blogpage %}">
                <h2>{{ blogpage.title }}</h2>
                <p>{{ blogpage.intro }}</p>                
            </a>
        </div>            
    </div>
    {% endwith %}
    {% endfor %}
{% endblock %}