.main-navbar {
    height: auto;
    background-color: #4B3296;
    margin-bottom: 0;
    display: d-inline-flex ;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 16px;
    overflow: hidden;
}

.navbar li {
    float: left;
}
/*ul.pull-left.main-menu,*/
.main-menu > li,
.main-menu > li >  a {
    height: 100%;
}

.navbar li a,
.menu-pirate
{
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    display: inline-block;
}
.navbar li a {
    font-size: 0.875em;
    font-family: -apple-system,BlinkMacSystemFont, "Helvetica Neue",Helvetica,'Fira Sans',"Open Sans",Arial,sans-serif;
}
.navbar .col-md-5, .main-menu, .menu-row {
    vertical-align: middle;
    line-height: 1em;
}
.navbar-buc .btn {
    color: #f3f3f3;
}
.menu-main-cat {
    vertical-align: middle;
    margin-top: 5px;
}
.main-menu li a:hover,
a:hover.menu-text {
    color: orange;
    background-color: #111;
}
.piratephilo-container {
    padding-top: 2rem;    
}
.piratephilo {
    font-family: 'Tangerine', cursive;    
    color: bisque;
}
.piratephilo-link {
    font-size: 2em;
    font-weight:lighter;
    line-height: normal;
    padding-top: 0.4rem;
    padding-bottom: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
}
.piratephilo-title {
    font-size: 2.25em;
    line-height: 1.3;
    text-align: center;
    max-width: 100%;
}  
.piratephilo-quote,
.piratephilo-quote > p  {    
    font-size: 1.8em;
    line-height: 1.5rem;
}
.piratephilo-quote-by {    
    font-size: 1.8em;
    line-height: normal;
    text-align: right;
}  
.piratephilo-nav {
    display: inline-block;
    max-width: 100%;
}

/* ==================================================
  Mobile device navbar
================================================== */
.navbar-brand {
    padding: 0px;
}

#logotype > img {
    height: 2.2em;
}

.navbar-nav {
    background: #4B3296;    
}
.mmenu-link {
    width: 100%;
}
.mmenu-link,
a.nav-link.nav-item.mmenu-link, 
#navbarSupportedContent > a:visited, 
#navbarSupportedContent > a:hover, 
#navbarSupportedContent > a:active  {
    padding-left: 8px;
    color:#fbf8f8;
    border-bottom: 1px solid darkred;
}


.mbuc-button {
    padding: 4px;    
}
.nav-butt {
    border-color: orange;
}
.mnavbar { 
    display: flex;  
 }
.navbar {
    width:100%; 
    padding: 0px;
    /*background: #4B3296;*/
    

    @media(max-width: 34em) {
    background: #4B3296; !important;
    }
        
    .navbar-toggler {
        cursor:pointer;
        outline:0;        
    }

    .nav-link {
        text-transform:uppercase;
        font-weight:bold;
    }

    .nav-item {
        padding: 0 1rem;        

        @media(max-width: 34em) {
            padding: 0;
        }

        .nav-link {
            @media(max-width: 34em) {
                font-weight:normal;
                color:#fbf8f8 !important;
            }
        }
    }    
 }
}