
/* ==================================================
  Mobile device navbar
================================================== */
.navbar-brand {
    padding: 0px;
}

#logotype > img {
    height: 2.2em;
}

.navbar-nav {
    background: #4B3296;    
}
.mmenu-link {
    width: 100%;
}
.mmenu-link,
a.nav-link.nav-item.mmenu-link, 
#navbarSupportedContent > a:visited, 
#navbarSupportedContent > a:hover, 
#navbarSupportedContent > a:active  {
    padding-left: 8px;
    color:#fbf8f8;
    border-bottom: 1px solid darkred;
}


.mbuc-button {
    padding: 4px;    
}
.nav-butt {
    border-color: orange;
}
.navbar { 
    display: flex;  
 }
.navbar {
    width:100%; 
    padding: 0px;
    /*background: #4B3296;*/
    

    @media(max-width: 34em) {
    background: #4B3296; !important;
    }
        
    .navbar-toggler {
        cursor:pointer;
        outline:0;        
    }

    .nav-link {
        text-transform:uppercase;
        font-weight:bold;
    }

    .nav-item {
        padding: 0 1rem;        

        @media(max-width: 34em) {
            padding: 0;
        }

        .nav-link {
            @media(max-width: 34em) {
                font-weight:normal;
                color:#fbf8f8 !important;
            }
        }
    }    
 }
}