{% load wagtailcore_tags wagtailimages_tags %}
{% load categories %}
{% load static %}

<div class="container-fluid list-news-container"> <!-- this is to make it responsive to your screen with overide in css: .mainfeature-container -->  
    {% get_categories as category_names %}
    {% for cat in category_names %}
        <div class="row cat-list-news-row">        
            <div class="col-md">                
                <a class="menu-main-cat" href="/categories/?category={{ cat }}">
                    <div id="headline"><h4>{{ cat }}</h4></div>                    
                </a>
                <ul class="list-group list-news-list yflow">                
                {% get_blogsbycat cat as blogsByCat %}                
                {% for post in blogsByCat %}
                    {% with post=post.specific %}
                        <li> 
                            <div class="col-md list-news-list-item cat-news-list-item">
                                <a href="{% pageurl post %}">                                                                    
                                    <strong>{{ post.title }}</strong>
                                    <p>{{ post.intro }}</p>
                                </a>
                            </div>                            
                        </li>
                    {% endwith %}                    
                {% endfor %}      
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="annons"></div>
            </div>
        </div>              
    {% endfor %}
</div>

