{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

<div class="container-fluid list-news-container"> <!-- this is to make it responsive to your screen with overide in css: .mainfeature-container -->
    <!-- cat_pol -->
    <div class="row">        
        <div class="col-sm">                
            <article>
                <div id="headline"><strong>politik</strong></div>
                <ul class="list-group list-news-list yflow">
                    {% for post in cat_pol %}
                    {% with post=post.specific %}
                    <li class="list-group-item list-news-list-item mainfeature-post">                    
                        {% with post.main_image as main_image %}
                        {% if main_image %}         
                            {% image main_image width-100 as tmp_photo %}
                                <a href="{% pageurl post %}"><img style="float: left" class="homepage-photo" src="{{ tmp_photo.url }}"/>
                                </a>
                        {% endif %}
                        {% endwith %}
                        <a href="{% pageurl post %}">                                                                    
                            <strong>{{ post.title }}</strong>
                            <p>{{ post.intro }}</p>
                        </a>                            
                    </li>
                    {% endwith %}
                    {% endfor %}      
                </ul>
            </article>            
        </div>
    </div>
    <div class="annons"></div>
    <!-- cat_econ -->
    <div class="row">        
        <div class="col-sm"> 
            <article>               
                <div id="headline"><strong>ekonomi</strong></div>
                <ul class="list-group list-news-list yflow">
                    {% for post in cat_econ %}
                    {% with post=post.specific %}
                    <li class="list-group-item list-news-list-item mainfeature-post">                    
                        {% with post.main_image as main_image %}
                        {% if main_image %}         
                            {% image main_image width-100 as tmp_photo %}
                                <a href="{% pageurl post %}"><img style="float: left" class="homepage-photo" src="{{ tmp_photo.url }}"/>
                                </a>
                        {% endif %}
                        {% endwith %}
                        <a href="{% pageurl post %}">                                                                    
                            <strong>{{ post.title }}</strong>
                            <p>{{ post.intro }}</p>
                        </a>                            
                    </li>
                    {% endwith %}
                    {% endfor %}      
                </ul>            
            </article>
        </div>
    </div>
    <div class="annons"></div>
    <!-- cat_cult -->
    <div class="row">        
        <div class="col-sm">
            <article>
                <div id="headline"><strong>kultur</strong></div>
                <ul class="list-group list-news-list yflow">
                    {% for post in cat_cult %}
                        {% with post=post.specific %}
                        <li class="list-group-item list-news-list-item mainfeature-post">                    
                            {% with post.main_image as main_image %}
                            {% if main_image %}         
                                {% image main_image width-100 as tmp_photo %}
                                    <a href="{% pageurl post %}"><img style="float: left" class="homepage-photo" src="{{ tmp_photo.url }}"/>
                                    </a>
                            {% endif %}
                            {% endwith %}
                            <a href="{% pageurl post %}">                                                                    
                                <strong>{{ post.title }}</strong>
                                <p>{{ post.intro }}</p>
                            </a>                            
                        </li>
                        {% endwith %}
                    {% endfor %}      
                </ul>            
            </article>
        </div>
    </div>
    <div class="annons"></div>
    <!-- cat_sci -->
    <div class="row">        
        <div class="col-sm">
            <article>
                <div id="headline"><strong>vetenskap</strong></div>
                <ul class="list-group list-news-list yflow">
                    {% for post in cat_sci %}
                        {% with post=post.specific %}
                        <li class="list-group-item list-news-list-item mainfeature-post">                    
                            {% with post.main_image as main_image %}
                            {% if main_image %}         
                                {% image main_image width-100 as tmp_photo %}
                                    <a href="{% pageurl post %}"><img style="float: left" class="homepage-photo" src="{{ tmp_photo.url }}"/>
                                    </a>
                            {% endif %}
                            {% endwith %}
                            <a href="{% pageurl post %}">                                                                    
                                <strong>{{ post.title }}</strong>
                                <p>{{ post.intro }}</p>
                            </a>                            
                        </li>
                        {% endwith %}
                    {% endfor %}      
                </ul>            
            </article>
        </div>
    </div>
    <div class="annons"></div>
    <!-- cat_health -->
    <div class="row">        
        <div class="col-sm">
            <article>
                <div id="headline"><strong>hälsa</strong></div>
                <ul class="list-group list-news-list yflow">
                    {% for post in cat_health %}
                        {% with post=post.specific %}
                        <li class="list-group-item list-news-list-item mainfeature-post">                    
                            {% with post.main_image as main_image %}
                            {% if main_image %}         
                                {% image main_image width-100 as tmp_photo %}
                                    <a href="{% pageurl post %}"><img style="float: left" class="homepage-photo" src="{{ tmp_photo.url }}"/>
                                    </a>
                            {% endif %}
                            {% endwith %}
                            <a href="{% pageurl post %}">                                                                    
                                <strong>{{ post.title }}</strong>
                                <p>{{ post.intro }}</p>
                            </a>                            
                        </li>
                        {% endwith %}
                    {% endfor %}      
                </ul>            
            </article>
        </div>
    </div>
</div>

