{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

<div class="container-fluid"> <!-- this is to make it responsive to your screen with overide in css: .mainfeature-container -->
    <div id="headline"><strong>Publicerade Artiklar</strong></div>
    {% for post in published_media %}
    {% with post=post.specific %}
    <div class="row published-row">                               
        <div class="col-sm mainfeature-post">       
            <article>
                {% with post.main_image as main_image %}
                    {% if main_image %}         
                    {% image main_image width-160 as tmp_photo %}                    
                    <a href="{% pageurl post %}">
                        <img style="float: left" class="homepage-photo" src="{{ tmp_photo.url }}"/>
                    </a>
                    {% endif %}
                {% endwith %}
                <a href="{% pageurl post %}">                                                                    
                    <strong>{{ post.title }}</strong>
                    <p>{{ post.intro }}</p>
                </a>                            
            </article>
        </div>
    </div>    
    {% endwith %}
    {% endfor %}                
</div>