{% load navbar_top %}
{% load staticfiles %}


<!-- Navigation -->
<div id="mmain-navbar">
  <div class="container" style="width:100%">
    <nav class="navbar navbar-toggleable-xs navbar-light mmenu-navbar">
      <button class="navbar-toggler navbar-toggler-right  mr-auto mmenu-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% get_categories as category_names %}
          {% for cat in category_names %}
            <a class="dropdown-item" href="/categories/?category={{ cat }}">{{ cat }}</a>
          {% endfor %}             
        </ul>        
      </div>
    </nav>    
  </div>
</div>