{% load navbar_top %}
{% load staticfiles %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/newsorg_navbar.css' %}"> 
{% endblock %} 

<!-- Navigation -->
<nav id="navigation" class="navbar navbar-dark main-navbar" data-toggle="sticky-onscroll">
  <div class="row menu-row">
  <!-- Categories -->
    <div class="col-md-5 menu-cat">
      <ul class="nav pull-left main-menu">
        {% get_categories as category_names %}
        {% for cat in category_names %}
          <li>
            <a class="menu-main-cat" href="/categories/?category={{ cat }}">
              <span class="navbar-text">{{ cat }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-3 menu-pirate">
    <!-- logo -->
      <div class="navbar-brand">
        <span class="nav show-not-sticky" style="display:inline">
          <a href="/">
            <img id="navbar-not-sticky-logo" src="{% static 'newsorg/images/pirate-logo-banner-inv.png' %}">        
          </a>
        </span>
        <span class="nav show-is-sticky" style="display:inline">
          <a href="/" >
            <img id="navbar-sticky-logo" src="{% static 'newsorg/images/buc_banner.png' %}">
          </a>
        </span>
      </div>
    </div>
    <div class="col-md-4 menu-text">  
      <span class="nav navbar-text" style="display:inline">
        <a href="/" class="menu-main-cat">
          <span class="navbar-text">Piratfilosofi</span>
        </a>
      </span>
    </div>  
  </div>
</nav>   

